:root {
  --grey-100: #A1A1A1;
  --grey-400: #5A5B5C;
  --grey-600: #424344;
  --grey-800: #1b1b1b;
  --grey-900: #131415;
}

body {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  background-color: var(--grey-900);
}


h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

h1, h2 {
  font-size: 4.0rem;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
}

p {
  font-size: 1.5em;
  line-height: 1.2;
  opacity: 0.6;
  font-weight: 400;
}


/* Larger than phablet */
@media (min-width: 550px) {
  h1, h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 3.0rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  p {
    margin-top: 0;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

.container--small {
  max-width: 960px;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  color: #fff;
  text-align: center;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
  box-sizing: border-box; }
.button.button-large,
button.button-large,
input[type="submit"].button-large,
input[type="reset"].button-large,
input[type="button"].button-large {
  height: 48px;
  font-size: 1rem;
  padding: 0 24px;
  line-height: 46px;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  opacity: 0.7;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: var(--grey-900);
  background-color: #fff;
  border-color: #fff; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  opacity: 0.7;}

.nav {
  padding: 12px 0;
  border-bottom: 1px solid var(--grey-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 0.875em;
}

.hero {
  text-align: center;
  height: 80vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__text {
  max-width: 960px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero__text p {
  max-width: 800px;
}

.nav__items a {
  margin-right: 1.5em;
}

.work {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.work__item {
  background-color: var(--grey-400);
  width: 600px;
  height: 600px;
  margin-right: 24px;
  flex-shrink: 0;
  border-radius: 24px;
  padding: 48px;
  box-sizing: border-box;
}

.work__item.memrise {
  background-color: yellow;
}

.work__item.fat-llama {
  background-color: green;
}

.work__item.dependabot {
  background-color: purple;
}

.work__item.gocardless {
  background-color: blue;
}

.work__item.listora {
  background-color: red;
}

.design-club {
  margin: 160px auto;
}

.design-club__strapline {
  font-size: 2rem;
  font-style: italic;
  color: var(--grey-400);
}

.design-club__image {
  max-width: 100%;
}

.get-in-touch {
  text-align: center;
}

.get-in-touch__container {
  padding: 160px 48px;
  background-color: var(--grey-800);
  border-radius: 24px;
  margin-bottom: 24px;
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.margin-b48 {
  margin-bottom: 48px;
}

.margin-b80 {
  margin-bottom: 80px;
}

.margin-b160 {
  margin-bottom: 160px;
}
