.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  color: $grey-900;
  text-align: center;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid $grey-900;
  cursor: pointer;
  box-sizing: border-box;
}

.button.button-large,
button.button-large,
input[type="submit"].button-large,
input[type="reset"].button-large,
input[type="button"].button-large {
  height: 48px;
  font-size: 1rem;
  padding: 0 24px;
  line-height: 44px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  opacity: 0.7;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: $grey-900;
  background-color: $primary;
  border-color: $primary;
  // box-shadow: 0 1px 2px rgba(27,131,255,.1), 0 2px 4px rgba(27,131,255,.2);
}

.button.button-secondary,
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
  color: $grey-100;
  background-color: $grey-900;
  border-color: $grey-900;
  // box-shadow: 0 1px 2px rgba(27,131,255,.1), 0 2px 4px rgba(27,131,255,.2);
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  opacity: 0.7;
}
