.get-in-touch {
  text-align: center;
}

.get-in-touch__container {
  padding: 48px 32px;
  background-color: $grey-400;
  border-radius: 16px;
  margin-bottom: 24px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.20);

  @media (min-width: $mobile-up) {
    padding: 160px 32px;
    margin-bottom: 160px;
  }
}

.social-icon-container {
  margin: 32px 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  a {
    color: $grey-900;
    text-decoration: none;
    margin: 24px;
  }

  span {
    color: $grey-500;
  }

  .social-icon {
    margin-right: 24px;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      height: 24px;
      width: 24px;
    }
  }

  .button-separator {
    color: $grey-700;
  }

  @media (min-width: $mobile-up) {
    margin: 48px 0 12px;
    flex-direction: row;
  }
}
