.hero {
  text-align: center;
  height: 80vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__text {
  max-width: 960px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero__text p {
  max-width: 800px;
}
