.hero {
  text-align: left;
  height: 70vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 550px) {
    text-align: center;
    height: 80vh;
    min-height: 700px;
  }
}

.hero__text {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 550px) {
  }
}

.hero__text p {
  max-width: 800px;
}
