.nav {
  padding: 12px 0;
  border-bottom: 1px solid $grey-500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link,
.nav-logo {
  color: #fff;
  text-decoration: none;
  font-size: 0.875em;
  margin-right: 1.5em;
}

.nav-link {
  display: none;

  @media (min-width: 550px) {
      display: block;
  }
}
