h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

h1, h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  color: $grey-900;
}

h3 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
}

p {
  font-size: 1em;
  line-height: 1.2;
  color: $grey-700;
  font-weight: 400;
}

a,
span {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
}

a {
  color: $grey-900;
  text-decoration: none;
}

// Larger than phablet
@media (min-width: 550px) {
  h1, h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 3.0rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  p {
    margin-top: 0;
    font-size: 1.5rem;
  }

  a,
  span {
    font-size: 1.5rem;
  }
}
