$grey-100: #101A26;
$grey-200: #18202B;
$grey-300: #242B34;
$grey-400: #343B43;
$grey-500: #4C5158;
$grey-600: #6D7076;
$grey-700: #97999D;
$grey-800: #CACBCC;
$grey-900: #FFFFFF;

$primary: #1A82FF;

$shadow: 0 20px 40px 0 rgba(0,0,0,.1);
