$work-item-desktop: 400px;
$work-item-mobile: 600px;

.work {
  display: flex;
  flex-direction: row;

  .work-item {
    margin-right: 24px;
    flex-shrink: 0;
    border-radius: 24px;
    padding: 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    box-shadow: $shadow;
    z-index: 2;

    p {
      font-size: 1em;
      margin-bottom: 8px;
      color: $grey-900;
      z-index: 999;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: contain;
      background-position: right bottom;
      background-repeat: no-repeat;
      z-index: 1;
    }

    &.memrise {
      background: linear-gradient(135deg, #FFC000, #FFCA29);

      p {
        color: #2B3648;
      }

      &:before {
        background-image: url('../img/work/memrise.png');
        background-position: center;
      }
    }

    &.fat-llama {
      background: linear-gradient(135deg, #786DFF, #4C3DFF);

      &:before {
        background-image: url('../img/work/fat-llama.png');
      }
    }

    &.dependabot {
      background: linear-gradient(135deg, #405CFF, #0025FF);

      &:before {
        background-image: url('../img/work/dependabot.png');
      }
    }

    &.gocardless {
      background: linear-gradient(135deg, #074AA1, #0C07A1);

      &:before {
        background-image: url('../img/work/gocardless.png');
      }
    }

    &.listora {
      background: linear-gradient(135deg, #074AA1, #0C07A1);

      &:before {
        background-image: url('../img/work/gocardless.png');
      }
    }

    .work-name {
      font-weight: 600;
    }

    .work-year {
      // opacity: 0.8;
      font-style: italic;
    }
  }
}


$animationSpeed: 30s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-624px * 5))}
}


// Styling
.slider {
	height: $work-item-desktop;
	margin: auto;
	overflow-x: scroll;
  overflow-y: hidden;
	position: relative;

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(624px * 10);

    &:hover {
      animation-play-state: paused;
    }
	}

	.slide {
		height: $work-item-desktop;
		width: $work-item-desktop;
	}
}
